.muslimah {
    color: blue;
    background-color: antiquewhite;
    font-family: Arial;
    font-size: 18px;
    font-weight: bolder;
    font-style: italic;
    line-height: 1.5;
}
#novel {
    color: green;
    background-color: brown;
    text-transform: uppercase;
    text-align: center;
}

*{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1{
    border: 10px solid black;
    border-radius: 10px;
    border-top-right-radius: 50px;
}

.box {
    border: 5px solid red;
    height: 10px;
    padding: 2px;
}

.phone {
    font-size: 300px;
}

@media (max-width: 250px){
    .phone{
        font-size: 100px;
    }
}

@media (max-width: 840px){
    .phone{
        font-size: 50px;
    }
}

@media (max-width: 1050px){
    .phone{
        font-size: 30px;
    }
}

@media (max-width: 1200px){
    .phone{
        font-size: 20px;
    }
}

@media (max-width: 1440px){
    .phone{
        font-size: 150px;
    }
}

@media (max-width: 250px){
    .phone{
        font-size: 25px;
    }
}
